<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Test VueJS</title>
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
<script>
		var app = new Vue({
			el: '#ruivo',
			data: {
				message: 'Hello World'
			}
		})
	</script>
	<div id="ruivo">
		{{ message }}
	</div>
	
</body>
</html>